* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  font-size: large;
  color: blueviolet;
}
.outer-box {
  width: 100vw;
  height: 100vh;
  background-image: url("https://preview.redd.it/inikbmbe59g31.jpg?auto=webp&s=be0d0a23533a32fbc8ab4f479814131b52c9ed13");
  background-size: cover;
  background-position: 0%, 0%;
}
.outer-box section {
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  text-align: center;
  font-weight: bolder;
  padding: 30px 20px;
}
.inner-box {
  width: 400px;
  margin: 0 auto;
  position: relative;
  top: 100px;
  transform: translateY(-20%);
  padding: 20px 20px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 5px 5px 10px yellowgreen;
  z-index: 2;
}
h2 {
  font-size: 2rem;
  color: #212121;
  text-align: center;
  margin: 10px;
  color: gold;
  font-family: cursive;
}
.sign-upbody {
  margin: 10px 0px;
  padding: auto;
}
.sign-upbody p {
  margin: 10px 0px;
}
.sign-upbody label {
  display: block;
  text-align: center;
  font-weight: bolder;
  color: aqua;
  font-family: cursive;
}
.sign-upbody input {
  width: 350px;
  padding: 10px;
  border: 2px solid #ccc;
  font-size: 1rem;
}
.submit {
  background-color: #210489;
  color: #ffffff;
  width: 350px;
  font-size: 1rem;
  margin: 20px 0px;
  padding: 5px;
  font-family: cursive;
}
